<h1>Bookmarks</h1>
<ol class='bookmarks'>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%=bookmark['url']%>"><%=bookmark['title']%></a>
      <form action="/delete/<%=bookmark['id']%>" method="post">
        <input type='hidden' name='_method' value="DELETE"/>
        <input type="submit" value='delete'/>
      </form>
      <form action="/update/<%=bookmark['id']%>" method="post">
        <input type='hidden' name='_method' value="DELETE"/>
        <input type="submit" value='update'/>
      </form>
    </li>
  <% end %>
</ol>

<form action="/save" method="post">
  <input type="text" name="title" />
  <input type="text" name="address" />
  <input type="submit" name="ADD" value="ADD"/>
</form>

<h2> <%= flash[:error_message] %></h2>
